.featured {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 96px;
}

@media (min-width: 768px) {
    .featured {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 1600px) {
    .featured {
        padding-left: 0px;
        padding-right: 0px;
    }
}



.featured h2 {
    margin-top: 0;
    margin-bottom: 3px;
    text-align: center;
    color: #222222;
}

.featuredTitle {
    text-align: center;
    color: #9F9F9F;
    margin-bottom: 64px;
}

.featuredItems {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
}

@media (min-width: 640px) {
    .featuredItems {
        grid-template-columns: 1fr 1fr;
        row-gap: 18px;
        column-gap: 16px;
    }
}

@media (min-width: 1000px) {
    .featuredItems {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

.featuredItem {
    background: #F8F8F8;
}

.featuredItem img {
    width: 100%;
    display: block;
}

.featuredImgWrap {
    position: relative;
}

.featuredItem :hover .featuredImgDark {
    display: flex;
}

.featuredImgDark {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #3a3838d2;
    display: none;
    justify-content: center;
    align-items: center;
}

.featuredImgDark button {
    background: none;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 14px;
    font-size: 14px;
    font-family: inherit;
}

.featuredImgDark button img {
    width: 26px;
    height: 24px;
    margin-right: 11px;
}

.featuredData {
    padding: 23px 16px 20px;
}

.featuredName {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.featuredText {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-top: 12px;
    margin-bottom: 18px;

}

.featuredPrice {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.featuredBrowseBtn {
    border: 1px solid #FF6A6A;
    margin-top: 40px;
    padding: 15px 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: none;
    color: #F26376;
    font-family: inherit;
    font-size: 16px;
    line-height: 19px;
}

.featuredBrowseBtn:hover {
    color: white;
    background: #FF6A6A;
}